<%= stylesheet_link_tag    'application', media: 'all' %>
<div class="item newMessage">
	<h3><%= @title %></h3>
	<%= image_tag('uponatime.svg', class: 'uponatime') %>

	<%= @message.errors.full_messages.join(',') %>
		<%= form_for @message do |f| %>
		<%= f.hidden_field :user_id, value: @message.user_id %>
	    <%= f.hidden_field :story_id, value: @message.story_id %>
	    <p><%= @story_content %></p><br/>
	    <div id="contentStory">
	    	<p>Ecrivez votre histoire en 10 mots :</p>
	    	<%= f.text_field :content, placeholder: "..." %></div> <br/>
	    <div id="buttonsConfirm">
		    <%= f.submit %>
		    <div id="abordButton"><%= link_to 'Annuler', stories_path %></div>
		</div>
		<% end %>
	
</div>