<script type="text/javascript">
  typePage = 1
</script>

<div id="profileDatas">
	<%= image_tag @user.avatar.url(:original) %>
	<p><%= @user.nickname %></p>

</div>

<div class="buttonSite profileEdit">
  <%= link_to 'Edit', edit_user_registration_path %>
</div>
<%# @user.email %>
<%# link_to 'Back', users_path %>

<div id="storyBar">
  <ul class="listChoice">
    <li id="cat0" class="isHighlight" onclick = "goToMenu(0)">Plus Récent</li>
    <li id="cat3" onclick = "goToMenu(3)">En cours</li>
  </ul>
</div>

<!-- CONTAINER LIKED -->
<div id="container_new" class="container_visible">
<% @liked_stories.each do |story| %>
      <%= render "stories/story_body", { story: story} %>
  <% end %>
<%= paginate @liked_stories %>
</div>

<!-- CONTAINER CONTRIBUTED -->
<div id="container_unfinished">
  <% @contributed_stories.each do |story| %>
      <%= render "stories/story_body", { story: story} %>
  <% end %>
  <%= paginate @liked_stories %>
</div>

<script type="text/javascript">
   typePage = 1;
</script>
