<div class="item">
  <h3><%= story.title %></h3>
  <%= image_tag(asset_path('images/uponatime.svg'), class: 'uponatime') %>
  <p><%= story.content %>

  <%# init vars %>
  <% story_continued = story.content %>
  <% contributed = false %>
  <% liked = false %>

  <%# liked? %>
  <% if user_signed_in? %>
        <% story.likes.each do |like| %>
            <% if like.user_id == current_user.id %>
                <% liked = true %>
            <% end %>
        <% end %>
  <% end %>

  <%# messages loop %>
  <% story.messages.each do |message| %>
      <span> - <%= message.content %></span>
        <% story_continued += ' - ' + message.content %>
        <% if user_signed_in? && message.user_id == current_user.id %>
            <% contributed = true %>
        <% end %>
  <% end %>

  </p>
  <div class="optionStory">

    <div class="noContribute"><%= contributed ? "Déjà contribué" : ( link_to "Contribuer", new_message_path(story_id: story.id.to_s), target:"popup", onclick: "window.open('"+new_message_path(story_id: story.id.to_s)+"','popup','width=600,height=600');", :class => "alreadyContribute" ) %></div>

    <div class="likedButtons">
      <span class="tweetLink"><%= link_to 'https://twitter.com/intent/tweet?text="Il était une fois '+truncate(story_continued, length: 100)+'" - '+story_url(story), target: "_blank"  do %></span>
          <%= image_tag("tweet.svg", width: 30, border: 0) %>
      <% end %>
      <span class="heartLink"><%= link_to "❤", liked ? story_dislike_path(story) : story_like_path(story), method: :get %></span>
    </div>
  </div>
</div>