<h1><%= ( controller.action_name == 'new' ) ? "Commencer une histoire" : "Modifier une histoire" %></h1>

<%= @story.errors.full_messages.join(',') %>

<%= form_for @story do |f| %>

    <%= f.text_field :title, placeholder: "Titre" %> <br/>
    Il était une fois <%= f.text_field :content, placeholder: "..." %> <br/>
    <%= f.submit %>

<% end %>

<%= link_to 'Annuler', stories_path %>
