<div id="navBar">
  <ul id="leftHMenu" class="listChoice">
    <li><%= link_to image_tag('logo-papuche.svg'), root_path %></li>
    <li><%= link_to "Accueil", root_path %></li>
    <li><%= link_to "Nouvelle histoire", new_story_path %></li>
  </ul>
  <ul class="listChoice">
    <li id="searchField">
      <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag "q", nil, placeholder:"Rechercher...", class:"search" %>
          <%= image_tag('searchIcon.svg', class: 'searchButton')%>
      <% end %>
    </li>
    <% if user_signed_in? %>
        <li id="userProfile" onclick="toggleProfileMenu()">
          <div id="profilepic"><%= image_tag('profilImg.jpg')%></div><div id="arrowProfile"><%= image_tag('arrowProfile.svg')%></div><div id="menuProfile">
          <%= image_tag('arrowOptions.svg')%>
          <ul id="contentMenuProfile">
            <li><%= link_to "Mon profil", current_user %></li>
            <li><%= link_to "Editer le profil", edit_user_registration_path %></a></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
        </li>
    <% else %>
        <li><%= button_to "Connexion", new_user_session_path, method: :get, class: 'btn-test' %></li>
        <li><%= button_to "S'inscrire", new_user_registration_path, method: :get, class: 'btn-test' %></li>
    <% end %>
  </ul>
</div>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>