<!DOCTYPE html>
<html>
<head>
  <title>Papuche</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%# csrf_meta_tags %>
</head>
<body>

<div id="main-content">

<%= render "layouts/header" %>

<%= @test ? @test.inspect : '' %>

<%= yield %>

<%= render "layouts/footer" %>

</div>
</body>
</html>
